<%
let total=0

function postDate() {
    const d = new Date();
    let date = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
    return date;
}; 
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Commission</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 40px;
            font-size: 15px;
        }
        h2 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 40px;
        }
        th {
            border-top: 1px dashed black;
            border-bottom: 1px dashed black;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        .row1, .row3 {
            display: flex;
            justify-content: space-between;
        }
        .row3{
            margin-bottom:15px;
        }
        .signature {
            margin-top: 20px;
            margin-left: 40px;
            text-align: left;
            float: right;
            border-top: 1px dotted black;
            width: max-content;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">CALCUTTA TALENT SEARCH SCHOOL</h1>
    <h2>AGENT COMMISSION</h2>
    <div class="row1">
        <div class="content">Bill no.-</div>
        <div class="content">Date: <%= postDate() %></div>
    </div>
    <div class="row2">
        <p>Name: <u><%= agent.name.toUpperCase() %></u>(Code: <u><%=code%></u>)</p>
        <p>Address: <u><%= agent.add1.toUpperCase() %></u></p>
        <p>Address: <u><%= agent.add2.toUpperCase() %></u></p>
    </div>
    <div class="row3">
        <div class="session">Time Period: <u><%= sdate %> to <%= edate %></u></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>School Code</th>
                <th>School Name</th>
                <th>School Fees(Rs.)</th>
                <th>Commission(%)</th>
                <th>Commission(Rs.)</th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach((row) => { 
                
            %>
                <tr>
                    <td><%= row.school_code %></td>
                    <td><%= row.school_name %></td>
                    <%
                        let net_school = row.total_fees - row.total_fees*(row.center_fee/100)
                        let net_agent = net_school*(row.agent_comm/100)
                        total = total+Math.round(net_agent)
                    %>
                    <td><%= net_school %></td>
                    <td><%= row.agent_comm %>%</td>
                    <td><%= Math.round(net_agent) %></td>
                
                </tr>
            <% }) %>
            <!-- Row to show total students and total fees -->
            <tr>
                <td colspan="4" style="font-weight: bold;padding-left: 300px">Grand Total: </td>
                <td style="font-weight: bold;">Rs. <%=total%></td>
            </tr>
            <!-- Row to calculate and show the center fee -->
           
        </tbody>
    </table>

    <div class="signature">
        <p>Full Signature of collector</p>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.print();
    });
</script>
</html>
